.game-info

  &__controls
    display: flex
    flex-direction: row
    flex-wrap: wrap
    +m(415)
      flex-direction: column

  &__description
    padding-top: 13px
    padding-bottom: 20px
    font-size: 13px

  &__info
    margin-top: 10px
    padding: 16px 0
    display: flex
    justify-content: space-between
    align-items: center
    border-top: 1px solid #eaeaea
    border-bottom: 1px solid #eaeaea
    +m(768)
      justify-content: space-around

  &__title
    padding-bottom: 6px
    border-bottom: 1px solid $borderGrey
    text-transform: uppercase

  &__view
    position: relative
    margin-bottom: 24px
    background-color: #000
    width: 100%
    height: 480px
    box-sizing: border-box

    +m(768)
      height: 0
      padding-top: 70%

    img
      position: absolute
      content: ''
      width: 100%
      height: auto
      max-width: 100%
      max-height: 100%
      top: 50%
      left: 50%
      transform: translate(-50%, -50%)
