-
  const plansItems = [
    { period: '1 month', price: '$9.99', saving: 'Save 0%' },
    { period: '2 year', price: '$2.99', saving: 'Save 75%', active: true, best: true },
    { period: '6 month', price: '$4.99', saving: 'Save 25%' }
  ]

  const breadcrumbs = [
    { link: '#', title: 'Emulator Online' },
    { link: '#', title: 'N64 Games' },
    { link: '#', title: 'The Legend of Zelda: Majora\'s Mask' }
  ]

  const breadcrumbs2 = [
    { link: '#', title: 'Emulator Online' },
    { link: '#', title: 'Games' },
    { link: '#', title: 'Pokemon Games' }
  ]

  const breadcrumbs3 = [
    { link: '#', title: 'Emulator Online' },
    { link: '#', title: 'Search' }
  ]

  const breadcrumbs4 = [
    { link: '#', title: 'Emulator Online' },
    { link: '#', title: 'Games' }
  ]

  const breadcrumbs5 = [
    { link: '#', title: 'Emulator Online' },
    { link: '#', title: 'Privacy Policy' }
  ]

  const gamesList = [
    { link: '#', title: 'Browse Games' },
    { link: '#', title: 'Pokemon Games' },
    { link: '#', title: 'Mario Games' },
    { link: '#', title: 'Sonic Games' },
    { link: '#', title: 'Arcade Games' },
    { link: '#', title: 'WWE Games' },
    { link: '#', title: 'Kirby Games' },
    { link: '#', title: 'RPG Games' },
    { link: '#', title: 'Zelda Games' },
    { link: '#', title: 'Adventure Games' },
    { link: '#', title: 'Action Games' },
    { link: '#', title: 'Fighting Games' },
    { link: '#', title: 'Browse Games' },
    { link: '#', title: 'Pokemon Games' },
    { link: '#', title: 'Mario Games' },
    { link: '#', title: 'Sonic Games' },
    { link: '#', title: 'Arcade Games' },
    { link: '#', title: 'WWE Games' },
    { link: '#', title: 'Kirby Games' },
    { link: '#', title: 'RPG Games' },
    { link: '#', title: 'Zelda Games' },
    { link: '#', title: 'Adventure Games' },
    { link: '#', title: 'Action Games' },
    { link: '#', title: 'Fighting Games' }
  ]

  const tags = [
    { link: '#', title: 'RPG' },
    { link: '#', title: 'Adventure' },
    { link: '#', title: 'Action' },
    { link: '#', title: 'Zelda' }
  ]

  const tags2 = [
    { link: '#', title: 'Sports' },
    { link: '#', title: 'Action' },
    { link: '#', title: 'Fighting' },
    { link: '#', title: 'RPG' }
  ]

  const consoles = [
    { href: '#', link: '2600', sum: '425' },
    { href: '#', link: 'CPS1', sum: '62' },
    { href: '#', link: 'CPS2', sum: '68' },
    { href: '#', link: 'CPS3', sum: '342' },
    { href: '#', link: 'GB', sum: '24' },
    { href: '#', link: 'GBA', sum: '144' },
    { href: '#', link: '2600', sum: '425' },
    { href: '#', link: 'CPS1', sum: '62' },
    { href: '#', link: 'CPS2', sum: '68' },
    { href: '#', link: 'CPS3', sum: '342' },
    { href: '#', link: 'GB', sum: '24' },
    { href: '#', link: 'GBA', sum: '144' },
    { href: '#', link: '2600', sum: '425' },
    { href: '#', link: 'CPS1', sum: '62' },
    { href: '#', link: 'CPS2', sum: '68' },
    { href: '#', link: 'CPS3', sum: '342' },
    { href: '#', link: 'GB', sum: '24' },
    { href: '#', link: 'GBA', sum: '144' }
  ]

  const games = [
    { href: '#', link: 'All Games', sum: '5335' },
    { href: '#', link: 'ActRaiser', sum: '3' },
    { href: '#', link: 'Adventure Island', sum: '2' },
    { href: '#', link: 'Adventures of LOLO', sum: '3' },
    { href: '#', link: 'Aero the Acro-Bat', sum: '4' },
    { href: '#', link: 'Alex Kidd', sum: '5' },
    { href: '#', link: 'Alien', sum: '6' },
    { href: '#', link: 'ActRaiser', sum: '3' },
    { href: '#', link: 'Adventure Island', sum: '2' },
    { href: '#', link: 'Adventures of LOLO', sum: '3' },
    { href: '#', link: 'Aero the Acro-Bat', sum: '4' },
    { href: '#', link: 'Alex Kidd', sum: '5' },
    { href: '#', link: 'Alien', sum: '6' },
    { href: '#', link: 'ActRaiser', sum: '3' },
    { href: '#', link: 'Adventure Island', sum: '2' },
    { href: '#', link: 'Adventures of LOLO', sum: '3' },
    { href: '#', link: 'Aero the Acro-Bat', sum: '4' },
    { href: '#', link: 'Alex Kidd', sum: '5' },
    { href: '#', link: 'Alien', sum: '6' },
    { href: '#', link: 'ActRaiser', sum: '3' },
    { href: '#', link: 'Adventure Island', sum: '2' },
    { href: '#', link: 'Adventures of LOLO', sum: '3' },
    { href: '#', link: 'Aero the Acro-Bat', sum: '4' },
    { href: '#', link: 'Alex Kidd', sum: '5' },
    { href: '#', link: 'Alien', sum: '6' },
    { href: '#', link: 'ActRaiser', sum: '3' },
    { href: '#', link: 'Adventure Island', sum: '2' },
    { href: '#', link: 'Adventures of LOLO', sum: '3' },
    { href: '#', link: 'Aero the Acro-Bat', sum: '4' },
    { href: '#', link: 'Alex Kidd', sum: '5' },
    { href: '#', link: 'Alien', sum: '6' },
    { href: '#', link: 'ActRaiser', sum: '3' },
    { href: '#', link: 'Adventure Island', sum: '2' },
    { href: '#', link: 'Adventures of LOLO', sum: '3' },
    { href: '#', link: 'Aero the Acro-Bat', sum: '4' },
    { href: '#', link: 'Alex Kidd', sum: '5' },
    { href: '#', link: 'Alien', sum: '6' },
    { href: '#', link: 'ActRaiser', sum: '3' },
    { href: '#', link: 'Adventure Island', sum: '2' },
    { href: '#', link: 'Adventures of LOLO', sum: '3' },
    { href: '#', link: 'Aero the Acro-Bat', sum: '4' },
    { href: '#', link: 'Alex Kidd', sum: '5' },
    { href: '#', link: 'Alien', sum: '6' },
    { href: '#', link: 'ActRaiser', sum: '3' },
    { href: '#', link: 'Adventure Island', sum: '2' },
    { href: '#', link: 'Adventures of LOLO', sum: '3' },
    { href: '#', link: 'Aero the Acro-Bat', sum: '4' },
    { href: '#', link: 'Alex Kidd', sum: '5' },
    { href: '#', link: 'Alien', sum: '6' },
    { href: '#', link: 'ActRaiser', sum: '3' },
    { href: '#', link: 'Adventure Island', sum: '2' },
    { href: '#', link: 'Adventures of LOLO', sum: '3' },
    { href: '#', link: 'Aero the Acro-Bat', sum: '4' },
    { href: '#', link: 'Alex Kidd', sum: '5' },
    { href: '#', link: 'Alien', sum: '6' },
    { href: '#', link: 'ActRaiser', sum: '3' },
    { href: '#', link: 'Adventure Island', sum: '2' },
    { href: '#', link: 'Adventures of LOLO', sum: '3' },
    { href: '#', link: 'Aero the Acro-Bat', sum: '4' },
    { href: '#', link: 'Alex Kidd', sum: '5' },
    { href: '#', link: 'Alien', sum: '6' },
    { href: '#', link: 'ActRaiser', sum: '3' },
    { href: '#', link: 'Adventure Island', sum: '2' },
    { href: '#', link: 'Adventures of LOLO', sum: '3' },
    { href: '#', link: 'Aero the Acro-Bat', sum: '4' },
    { href: '#', link: 'Alex Kidd', sum: '5' },
    { href: '#', link: 'Alien', sum: '6' },
    { href: '#', link: 'ActRaiser', sum: '3' },
    { href: '#', link: 'Adventure Island', sum: '2' },
    { href: '#', link: 'Adventures of LOLO', sum: '3' },
    { href: '#', link: 'Aero the Acro-Bat', sum: '4' },
    { href: '#', link: 'Alex Kidd', sum: '5' },
    { href: '#', link: 'Alien', sum: '6' },
    { href: '#', link: 'ActRaiser', sum: '3' },
    { href: '#', link: 'Adventure Island', sum: '2' },
    { href: '#', link: 'Adventures of LOLO', sum: '3' },
    { href: '#', link: 'Aero the Acro-Bat', sum: '4' },
    { href: '#', link: 'Alex Kidd', sum: '5' },
    { href: '#', link: 'Alien', sum: '6' },
    { href: '#', link: 'ActRaiser', sum: '3' },
    { href: '#', link: 'Adventure Island', sum: '2' },
    { href: '#', link: 'Adventures of LOLO', sum: '3' },
    { href: '#', link: 'Aero the Acro-Bat', sum: '4' },
    { href: '#', link: 'Alex Kidd', sum: '5' },
    { href: '#', link: 'Alien', sum: '6' }
  ]

  const consoles2 = [
    { href: '#', link: '2600', sum: '425' },
    { href: '#', link: 'CPS1', sum: '62' },
    { href: '#', link: 'CPS2', sum: '68' },
    { href: '#', link: 'CPS3', sum: '342' },
    { href: '#', link: 'GB', sum: '24' },
    { href: '#', link: 'GBA', sum: '144' },
    { href: '#', link: '2600', sum: '425' },
    { href: '#', link: 'CPS1', sum: '62' },
    { href: '#', link: 'CPS2', sum: '68' },
    { href: '#', link: 'CPS3', sum: '342' },
    { href: '#', link: 'GB', sum: '24' },
    { href: '#', link: 'GBA', sum: '144' },
    { href: '#', link: '2600', sum: '425' },
    { href: '#', link: 'CPS1', sum: '62' },
    { href: '#', link: 'CPS2', sum: '68' },
    { href: '#', link: 'CPS3', sum: '342' },
    { href: '#', link: 'GB', sum: '24' },
    { href: '#', link: 'GBA', sum: '144' }
  ]

  const advantagesItems = [
    '90 servers in 15 locations', 'Lightning speeds', 'Protect up to 3 devices', 'Unlimited bandwidth'
  ]

doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='initial-scale=1.0, width=device-width')
    link(href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700', rel='stylesheet')
    base(target="_blank")
    script(async src="https://www.googletagmanager.com/gtag/js?id=UA-115499552-1")
    meta(name="description" content="Pioneering Private Digital Transactions")
    title
      block title
  body
    include partials/header
    block main
    include partials/pre-footer
    include partials/footer
