div.hero
  div.container
    div.hero__banner
      h1.hero__title
        | Play Retro Games Online
      p Download free emulators and roms and play retro games with us!
      div.search
        div.search__field
          i.ico.is-search-grey.i-left-center
          input.input.is-big.js-input(type='search', placeholder='Enter keyword or ROM title')
        div.search__action
          button.btn.is-big.is-search Search
            span.search__icon.icon.is-search
      // END search
