.mobile-menu
  .mobile-menu__top
    form.search.is-mobile
      .search__field
        .search
          input.input.is-mobile(type='search', placeholder='Enter keyword or ROM title')
        // END search
      .search__action
        button.btn.is-big.is-search.is-mobile(type='submit')
          | Search
  .mobile-menu__bottom
    ul.mobile-menu__list
      li.mobile-menu__el
        a.mobile-menu__link(href='#')
          | Home
      li.mobile-menu__el
        a.mobile-menu__link(href='#')
          | Consoles
      li.mobile-menu__el
        a.mobile-menu__link(href='#')
          | Genres
      li.mobile-menu__el
        a.mobile-menu__link(href='#')
          | Same Series
// END mobile-menu
