div.pre-footer
  div.container
    div.pre-footer__wrap
      span.pre-footer__popular Popular:
      ul.pre-footer__list
        li.pre-footer__el
          a.pre-footer__link(href='#') Mario Games
        li.pre-footer__el
          a.pre-footer__link(href='#') Pokemon Games
        li.pre-footer__el
          a.pre-footer__link(href='#') Sonic Games
        li.pre-footer__el
          a.pre-footer__link(href='#') Kirby Games
        li.pre-footer__el
          a.pre-footer__link(href='#') Zelda Games
        li.pre-footer__el
          a.pre-footer__link(href='#') Mortal Kombat Games
        li.pre-footer__el
          a.pre-footer__link(href='#') Grand Theft Auto Games
// end pre-footer
